<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citi.portfoliomanager.dao.mapper.UserMapper">

    <resultMap id="resultPerson" type="com.citi.portfoliomanager.entity.User">
        <id column="user_id" property="id"/>
        <result column="user_name" property="username"/>
        <result column="user_password" property="password"/>
        <result column="user_real_name" property="realName"/>
        <result column="user_type" property="userType"/>
    </resultMap>

<!--    <resultMap id="simplePerson" type="com.citi.portfoliomanager.entity.User">
        <id column="user_id" property="id"/>
        <result column="user_name" property="username"/>
        <result column="user_real_name" property="realName"/>
    </resultMap>-->

    <!--获取-->
    <select id="get" parameterType="String" resultMap="resultPerson">
        SELECT *
        FROM pm_user
        WHERE user_name=#{0}
    </select>

</mapper>
